<style type="text/css">
body {
  margin: 0 auto;
  padding: 0;
  background: #ffffff url('maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  background-attachment: fixed;
}
</style>
